@charset "ISO-8859-1";

/* html elemente werden berücksichtigt basierend auf ELEMENT*/
p, h1 {
    text-align: center;
    color: red;
}

/* html elemente werden berücksichtigt basierend auf ID*/
#para1 {
    text-align: center;
    color: red;
}

/* html elemente werden berücksichtigt basierend auf CLASS*/
.center {
    text-align: center;
    color: red;
}

p.center {
    text-align: center;
    color: red;
}


/* CSS EINBINDEN: external css file*/
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

/* CSS EINBINDEN: internal style sheet:*/
<head>
	<style>
		h1 {
		    color: maroon;
		    margin-left: 40px;
		} 
	</style>
</head>

/* CSS EINBINDEN: inline style*/
<h1 style="color:blue; margin-left:30px;">This is a heading</h1>



/*die wichtigsten CSS STYLES*/
body {
	color: red; /*text color */
	background-color:blue;
	background-color:rgb(255, 99, 71);
	background-color:#ff6347;
	border-style: dotted; /*values: solid, dashed, double, ...*/
	border-width: 5px;
	border-color: red;
	margin: 25px 50px 75px 100px; /* top right bottom left*/
	padding: 25px 50px 75px 100px;
	text-align: center; /*directios: justify, center, left, right*/
	font-size: 40px;
	a:link {color: red;}  /* unvisited link */
	a:visited {color: green;} /* visited link */
	
	
	}
