<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<a href="url">link text</a>
	<a href="https://www.w3schools.com">Visit W3Schools</a>
	
	<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">
	
	<ul>
  		<li>Coffee</li>
  		<li>Tea</li>
  		<li>Milk</li>
	</ul>
	
	<!--name wird gebraucht um über die methode wie e.g. get den value mitzugeben -->
	<form action="/action_page.php" method="get">
		<fieldset>
    		<legend>Personal information:</legend>
  			First name:<br>
  			<input type="text" name="firstname"><br>
  			<input type="radio" name="gender" value="male" checked> Male<br>
  			<input type="button" onclick="alert('Hello World!')" value="Click Me!">
  			<input type="submit" value="Submit">
  		</fieldset>
	</form>

</body>
</html>